body{
  background-color: #088385;
}
.box1{
    font-size: 50px;
}

.form-wrapper {
  /* padding-right: 10px; */
}
button{
   color:white ;
   font-size: 20px;
   background-color: red;
}
.left {
  width: 20%;
  /* background-color: gray; */
  float: left;
}
.right {
  width: 80%;
  /* background-color: blue; */
  float: right;
}

.user-name, .company,.phone, .subject {
  background-color: #f1f2f2;
  padding: 5px 30px;
  height: 50px;
  margin-top: 20px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #e2dbdb;
  border: none;
  outline: none;
  margin-bottom: 6px;
}
.first-name {
  width: 46%;
  /* padding-left: 10px; */
  float: left;
}
.last-name {
  width: 46%;
  float: right;
}

.name-label {
  font-size: 18px;
  font-size: 1.2rem;

  font-weight: bold;
}

.label {
  color: #616161;
  margin-top: 5px;
}
.areacode{
  width: 25%;
  float:left;
}
.phonenumber{
  width: 65%;
  float: right;
}
.select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #e2dbdb;
  border: none;
  outline: none;
  margin-bottom: 6px;
}
.left1{
  width: 100%;
  padding-left: 25px;
  margin-top: 50px;
}
.left2{
  width: 10%;
  float: left ;
}
.right2{
  width: 80%;
  float: right;
}