<h2>create products</h2>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form action="/create-product" method="post">
                <div class="form-control">
                    <label for="">Product name</label>
                    <input type="text" class="form-control" placeholder="Product Name" name="product_name">
                </div>
                <div class="form-control">
                    <label for="">Product Price</label>
                    <input type="text" class="form-control" placeholder="Product Price" name="product_price">
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>

        </div>
    </div>
</div>
